
.btn-carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.botoncerrar{
    color: var(--color-naranja);
    cursor: pointer;
}

.carrito-container {
    position: fixed;
    top: 2vh;
    right: 0;
    width: 300px;
    color: var(--color-marron);
    height: 90vh;
    background-color: white;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 10000;
    justify-content: center;
    font-family: var(--font-Monserrat);
}

.carrito-container ul{
    overflow-y: auto;
    max-height: 32vh;
    list-style: none;
    padding: 0;
}

.carrito-container h2 {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-marron);
}

.carrito-container p{
    text-align: center;
}


.carrito-container li {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.carrito-container button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.formulario{
    border-top: 1px solid var(--color-marron);
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 18px;
    width: 90%;
}
.formulario h3{
    margin:  0;
    text-align: center;
}

.formulario input{
    height: 30px;
    font-family: var(--font-Monserrat);
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px var(--color-marron);
    text-align: center;
    
}

.carrito-container button.botonWhats{
    background-color: var(--color-naranja);
    padding: 10px;
    color: var(--color-marron);
    font-family: var(--font-Monserrat);
    font-weight: 900;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
}