main {
  background-color: var(--color-blanco);
  font-family: var(--font-Monserrat);
  margin-top: 10px;
}

.contenedor {
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
  height: 93vh;
}

.c-imagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: drop-shadow(-6px 6px 10px var(--color-marron));
  overflow: hidden;
  z-index: 1000;
}

.fondo{
  width: 1200px;
  height: 1400px;
  position: absolute;
  background-color: var(--color-marron);
  top: 30%;
  left: 65%;
  z-index: 10;
  rotate: 45deg;
}

.miche {
  width: 140px;
  left: 2.5em;
  rotate: -10deg;
  position: absolute;
  z-index: -100;
}

.logo {
  width: 260px;
}

.hambur {
  position: absolute;
  width: 140px;
  rotate: 10deg;
  z-index: -100;
  right: 1em;
}


.c-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-marron);
  text-align: center;
}

.c-textos p{
  font-size: 1.1em;
  font-weight: 400;
}

.c-textos h1 {
  text-align: center;
  margin-bottom: 1px;
}

.c-textos h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  margin-top: 0;
  border-radius: 10px;
}

.c-textos button {
  display: flex;
  gap: 10px;
  background-color: var(--color-naranja);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--font-Monserrat);
  font-weight: 700;
  color: var(--color-marron);
  box-shadow: 2px 2px 2px var(--color-marron);
  transition: transform 0.2s ease-in-out;
  font-size: 1.1em;
  margin-top: 10px;
}

.c-textos button:hover {
  background-color: var(--color-marron);
  color: var(--color-blanco);
  transform: scale(1.2);
}



@media (min-width:1024px) { 
  .contenedor {
    height: 90vh;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.2em;
  }
  .c-imagenes,
  .c-textos{
    padding: 0 5%;
  }
  .miche{
    left: 100px;
    rotate: -20deg;
    width: 200px;
  }
  .hambur {
    right: 90px;
    rotate: 20deg;
    width: 200px;
  }

  .logo {
    width: 360px;
  }
  
}

@media (max-width:768px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
  .c-textos h1{
    font-size: 2.3rem;
  }
  
}

@media (max-width:381px){
  .miche{
    left: 1em;
  }
}


