.CardProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: wheat;
    margin: 3px;
    width: 150px;
    height: 340px;
    padding: 10px;
    border-radius: 5px;
}

.CardProducto img{
    width: 100%;
    filter: drop-shadow(2px 2px 4px var(--color-marron));
}
.CardProducto h4,
.CardProducto p{
    margin: 3px;
}

.CardProducto p{
    font-size: 0.7em;
}

.contadorProducto{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    font-family: var(--font-Monserrat);
    font-weight: 900;
}

.contadorycomprar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px;
}
.boton{
    font-family: var(--font-Monserrat);
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: var(--color-marron);
    color: var(--color-blanco);
    width: 30px;
}

.boton-comprar{
    border: none;
    padding: 5px;
    background-color: var(--color-naranja);
    font-family: var(--font-Monserrat);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 3px;
}
