.header {
    font-family: var(--font-Monserrat);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0% 30px;    
    padding: 10px;
    background: var(--color-blanco);
    height: 10vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 5%;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
}
.nav-carrito{
    border: none;
    background-color: var(--color-naranja);
    border-radius: 40px;
    padding: 8px;  
    transition: 0.5s ease;
}

.nav-carrito:hover{
    background-color: var(--color-marron);
    color: white;
    transform: scale(1.1);
}
.imagenlogo{
    width: 80px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

@media (max-width:768px){
    .nav ul {
        display: none;
    }
    
}

@media (min-width:1024px){
    .header{
        padding: 10px 140px;
        height: 12vh;
    }
}