@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bowlby+One&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300;1,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-Playfair:"Playfair Display", serif;
  --font-Monserrat: "Quicksand", serif;
  --color-blanco:#f3ebe4;
  --color-naranja:#fa951d;
  --color-marron: #51351c;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-Monserrat);
  margin: 0;
  padding: 0;
  background-color: #f3ebe4;
  color: white;
}

h1, h2, h3 {
  font-family: var(--font-Playfair);
}

